.outer {
  border: 1px solid #c2bfbf;
  background: #d3d1d1;
  padding: 10px;
  margin-top: 10px;
}

.login {
  background-color: #5151e6;
  text-align: center;
  height: 650px;
}

.login div p {
  font-size: 60px;
  color: white;
  line-height: 650px;
}

label {
  font-size: 18px;
}
