<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-white text-center bg-dark py-4">
        Contact Information Application
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <nav *ngIf="userName">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home"
              [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4 text-right">
      <h5 *ngIf="userName" class="text-primary">
        Welcome :<span class="text-success"> {{ userName }}</span> |
        <a routerLink="/login" (click)="logOut()" class="text-dark"> Logout </a>
      </h5>
    </div>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
